body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(250, 246, 240);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #2C1A0E;
}

h1 {
    font-family: DM Serif Display, serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.1;
    color: #2C1A0E;
}

p {
    font-size: 15px;
    line-height: 1.4;
    color: #8a7b6f;
}

.highlight {
    color: #3D7A2E;
}

hr {
    border: none;
    border-top: 1px solid rgb(227, 221, 213);
    margin: 20px 0;
}